* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f2f5;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: white;
  border: 5px solid #ccc;
  border-radius: 10px;
}

.content-box {
  box-sizing: content-box;
  background-color: #e3f2fd;
}

.border-box {
  box-sizing: border-box;
  background-color: #fce4ec;
  margin-top:70px; /* margin collapsing the hight number will be chosen between two collapsing */
}
.shadow-box {
  background-color: #e8f5e9;
  box-shadow: 0 8px 15px rgba(0, 0, 0.2); 
}
