.container {
  display: grid;
  /* columns will add items side by side */
  /* row can add the hight etc */
  grid-template-columns: 200px 1fr 1fr; /* 3 columns first is 200px , rest split equally, fr fraction of remaining space*/
  grid-template-rows: 100px auto; /* auto height based on content */
  /* fr unit is exclusive to grid */
}

.grid-sidebar {
  display: grid;
  grid-template-columns: 250px 1fr;
  /* gap : 20px */
}

.left {
  background-color: blue;
  color: white;
  padding: 8px;
  height: 100px;
}

.right {
  background-color: red;
  color: white;
  padding: 8px;
  height: 100px;
}


.grid-example{
display: grid;
grid-template-columns: repeat(2, 1fr);
/* grid-template-rows: 150px 150px; */
grid-template-rows: repeat(2,150px); 
/* 150px is the height of the row */
gap:10px;

/* grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer"; */
}

.grid-example > div{
    background-color: #ddd;
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

.grid-layout{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "headers headers"
    "sidebar main" /* more height because of 1fr */
    "footer footer";
    gap :10px;
    min-height: 100vh;
}


header {grid-area: headers; background-color: #aee;}
aside {grid-area: sidebar; background-color: #eae;}
main {grid-area: main; background-color: #eee;}
footer {grid-area: footer; background-color: #cce;}

@media(max-width : 768px){
    .grid-layout{
        grid-template-columns: 1fr;
          /* grid-template-rows: auto 1fr auto; */
        grid-template-areas:
        "headers"
        "main"
        "sidebar"
        "footer";
    }
}