.card {
  width: 300px;
  padding: 20px;
  background-color: lightblue;
  border-radius: 10px;
}

.highlight {
  background-color: orange;
  color: white;
}

.name {
  font-size: 1.5rem;
}

.role {
  font-style: italic;
}

.btn {
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
