/* @import url("https://fonts.googleapis.com/css2?family=Playwrite+VN+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"); */

:root {
  font-size: 16px;
}
body {
  font-family: "Poppins";
  background-color: #f9f9f9;
  color: #222;
  margin: 0;
  padding: 2rem;
  line-height: 1.6;
  font-weight: 400;
}
